.Experience {
    width: 100%;
    height: 100%;
    background: #5680e9;
    background: -webkit-linear-gradient(to bottom right, #5680e9, #84ceeb);
    background: linear-gradient(to bottom right, #5680e9, #84ceeb);
}

.Experience, .Experience h1, .Experience h4 {
    color: white;
}

.Experience-list {
    .list-style-type: none;
}
