.Resume {
    width: 100%;
    height: 100%;
    background: #8860d0;
    background: -webkit-linear-gradient(to bottom right, #8860d0, #5680e9);
    background: linear-gradient(to bottom left, #8860d0, #5680e9);
}

.Resume, .Resume h1, .Resume h4, .Resume p {
    color: white;
}

.Resume-moreInfo {
    color: white;
    text-align: center;
    margin: 0 auto;
    bottom: 85%;
}

.Resume a {
    color: white;
    text-decoration: underline;
}
