.Button {
    background-color: #333;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: .5rem 1rem;
    transition: all .3s ease;
}

.Button:hover {
    background-color: red;
}
