.PageCard {
    height: 100vh;
    width: 100vw;
}

.PageCard--hidden {
    position: relative;
}

.PageCard-spacer {
    margin-top: 75px;
}

.PageCard-content {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.PageCard-content--default {
    position: absolute;
}

.PageCard-content--sticky {
    position: fixed;
    top: 0;
}
